:root {
    --color: #69b1b1;
    --blue: #00aaff;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #302b28;
    min-height: 100vh; 
    font-family: 'Courier New', Courier, monospace;
    background: repeating-linear-gradient(to top, #191716, transparent) 0 0 / 5px 5px, #302b28;
    margin: 0;
}

button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: inherit; 
}

main {
    min-height: 100vh;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    border-radius: .75rem;
    padding: .5rem;
    max-width: 1000px;
    margin: auto;
}

#message {
    padding: 1rem;
    color: var(--color);
    text-shadow: 0 0 5px var(--color);
    font-size: 1.1rem;
}

#message .title {
    text-align: center;
    font-family: 'jersey 10', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: .2rem;
}

.instructions,
#play-game {
    text-align: center;
    font-family: 'jersey 10', sans-serif;
    font-size: 2rem;
    letter-spacing: .2rem;
}


.choices {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-block-start: 3rem;
}

.choices button {
    max-width: 400px;
    min-width: 155px;
    padding-block: .5rem;
    border-radius: 1rem;
    border: 1px solid whitesmoke;
    font-weight: 500;
    background-color: transparent;
    color: whitesmoke;
    flex-grow: 1;
}

.choices button:hover {
    color: var(--color); 
    background: repeating-linear-gradient(to top, #29242a, transparent) 0 0 / 5px 5px, rgb(40, 5, 73);
}

.animation {
    opacity: 0;
    animation: animate .05s forwards;
}

.flicker {
    opacity: 0;
    animation: animate .5s infinite alternate-reverse;
}

#audio-btn {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: whitesmoke;
    border-radius: 50%;
    border: none; 
    background-position: center;
    background-repeat: no-repeat;
}

#audio-btn.playing {
    background-image: url(./assets/audio-play.svg);
    background-size: 2rem;
}


#audio-btn.paused {
    background-image: url(./assets/audio-mute.svg);
    background-size: 1.5rem;
}

footer {
    background-color: rgb(31, 26, 30);
    padding: 1rem;
    color: var(--color);
    font-size: .88rem;
}

footer p {
    margin-block: 0;
    text-align: end;
}

footer a {
    color: var(--blue); 
    text-decoration: none;
}

footer a:hover {
    color: lavender;
}


.option {
    opacity: 0;
    pointer-events: none;
}

.option.show {
    animation: showBtns .8s both;
    pointer-events: all;
}

@keyframes showBtns {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes animate {
    to {
        opacity: 1;
    }
}


@media (prefers-reduced-motion: reduce) {
    .flicker,
    .animation {
        animation: none;
    }   
}